<h1 class="text-3xl font-bold underline mb-3">
  ng-tailwind-datatable library!
</h1>


<div class="p-3">
  <ng-tailwind-table [columns]="cols" [data]="data">
    <ng-template ngTailwindTemplate="caption">
      This is the table's caption
    </ng-template>
    <ng-template ngTailwindTemplate="header" let-cols>
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template ngTailwindTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of cols">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template ngTailwindTemplate="footer">
      <div class="w-full">
        This is the table's footer
      </div>
    </ng-template>
    <ng-template ngTailwindTemplate="summary">
      This is the table's summary
    </ng-template>
  </ng-tailwind-table>
</div>